@charset "UTF-8";
@font-face {
    font-family: 'Poppins-Black';
    src: url(../fonts/Poppins-Black.ttf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'terminal-grotesque';
    src: url(../fonts/terminal-grotesque.otf);
}

body {
    padding: 0;
    margin: 10px;
    cursor: cell;
}

.contact {
    border: 1.5pt dashed black;
    margin: 9px;
    padding: 13px;
    position: relative;
    top: 11px;
}

.contact p {
    font-family: 'terminal-grotesque';
    font-size: 16px;
    line-height: 21px;
}

.contact a {
    text-decoration: none;
    font-family: 'terminal-grotesque';
    font-size: 16px;
    position: inherit;
}

.contact a:hover {
    font-style: italic;
    color: blue;
}

h2 {
    font-family: "terminal-grotesque";
    font-size: 20px;
    position: absolute;
    right: 50px;
    text-align: right;
    top: 15px;
    line-height: 32px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.propos,
.entretien,
.etudes,
.livres {
    border-bottom: 5pt solid black;
}


ul:before {
    text-decoration: none;
    content: '⟿';
}

ul:active {
    color: blue;
    text-decoration: underline wavy red;
}

/*
marquee {
    position: relative;
    bottom: 250px;
     margin-left: 3px; 
    margin-right: 0; 
    left: 600px;
    color: black;
    font-family: 'terminal-grotesque';
}

.marqueebibli {
    position: relative;
    bottom: 0px;
    left: 0px;
    bottom: 56px;
}

.marqueeexpli {
    position: relative;
    bottom: 0px;
    font-size: 50px;
}
*/

.bibliographie a {
    text-decoration: none;
    color: black;
    font-family: 'terminal-grotesque';
    font-size: 15px;
    line-height: 12px;

}

.bibliographie {
    width: 635px;
    padding: -4px;
    top: 173px;
    left: 317px;
    position: absolute;
    z-index: 1;
    /* height: 400px; */
    background: white;
    border: 1.5px solid black;
}

.resume {
    width: 460px;
    height: 106px;
    padding: -4px;
    top: 163px;
    left: 366px;
    position: absolute;
    z-index: 1;
    overflow: scroll;
    padding: 20px;
    background: white;
    border: 2px solid black;
}

.analyse {
    width: 645px;
    padding: -4px;
    top: 181px;
    left: 352px;
    height: 400px;
    position: absolute;
    z-index: 1;
    background: white;
    border: 1.5px solid black;
}

.inter {
    width: 645px;
    padding: -4px;
    top: 196px;
    left: 396px;
    position: absolute;
    z-index: 1;
    height: 400px;
    background: white;
    border: 1.5px solid black;
}

img {
    width: 50%;
    position: inherit;
    top: 149px;
    right: 5px;
    z-index: 2;
    padding: 10px;
}

h3 {
    font-family: 'terminal-grotesque';
    font-size: 28px;
    text-align: right;
    z-index: 1;
    line-height: 29px;
    margin-right: 13px;
    color: black;
}

.explication {
    /*
    color: black;
    margin-right: 350px;
    padding: 10px;
    bottom: 62px;
*/
    text-decoration: blink;
}

h3.pastille {
    text-align: center;
    position: absolute;
    font-size: 62px;
    left: 36px;
    transform: rotate(-25deg);
}

.pad {
    position: relative;
    top: 10px;
    left: 790px;
}

h1 {
    font-family: 'terminal-grotesque';
    font-size: 20px;
}

h1 a:before {
    content: '⤳  ';
}

p {
    font-family: 'terminal-grotesque';
    font-size: 16px;
    line-height: 15px;
}

ul{
    font-family: 'terminal-grotesque';
    font-size: 16px;
    line-height: 15px;
    font-style: italic;
    
}

hr {
    display: none;
}

.articles a {
    border-bottom: black 5pt solid;
    text-decoration: none;
    line-height: 29px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;

}

h4 {
    display: inline-block;
    border: none;
    color: black;
    font-style: italic;
    font-family: sans-serif;
    font-size: 13px;
    margin: -5px;
    cursor: cell;
    font-family: 'terminal-grotesque';
}

/* ---- button ---- */

.button {
    display: inline-block;
    border: none;
    color: black;
    font-family: sans-serif;
    font-size: 13px;
    margin: -5px;
    cursor: cell;
    font-family: 'terminal-grotesque';
}

.button:hover {
    font-style: italic;
}

.grid {
    margin-right: 630px;
    left: 10px;

}


.ui-group {
    position: relative;
    left: 10px;
    right: 10px;

}

.ui-group .button-group {
    display: flow-root;

}

a {
    cursor: cell;
    text-decoration: none;
    color: black;
}

.page {
    cursor: cell;
    float: right;
}
